<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/deadlines.css" | relative_url }}?t={{site.time | date: '%s'}}" media="screen,projection">
    <link rel="shortcut icon" href="{{ "/static/img/favicon.png" | relative_url }}">
    <script type="text/javascript" src="{{ "/static/js/jquery.min.js" | relative_url }}"></script>
    <script type="text/javascript" src="{{ "/static/js/jquery.countdown.min.js" | relative_url }}"></script>
    <script src="{{ "/static/js/moment.min.js" | relative_url }}"></script>
    <script src="{{ "/static/js/moment-timezone-with-data.min.js" | relative_url }}"></script>
    <script src="{{ "/static/js/store.min.js" | relative_url }}"></script>
    <script src="{{ "/static/js/ouical.min.js" | relative_url }}"></script>

  </head>
  <body>
    <div class="top-strip"></div>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <h1>
                    {{ site.title }}
<!--                    <iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>-->
                  </h1>
                </div>
<!--                <div class="meta col-xs-12">-->
<!--                  {{ site.description }}.-->
<!--                  To add/edit a conference, <a target="_blank" href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">send in a pull request</a>.-->
<!--                </div>-->
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                  <form class="form-horizontal">
                    <div class="form-group">
                      {% for type in site.data.types %}
                      <div class="col-md-4 col-xs-6" style="width: 20%;">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="{{ type.sub }}-checkbox" class=""> {{ type.name }}
                          </label>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </form>
              </div>
            </div>
            <div class="row">
              <div class="meta col-xs-12">
                <span class="local-timezone-hide">
                  Deadlines are shown in <span class="local-timezone">America/New_York</span> time.
                </span>
              </div>
            </div>
        </div>
        {% for conf in site.data.conferences %}
        <div id="conf-container">
            <div id="{{ conf.title | append: conf.year | slugify }}" class="conf {% for sub in conf.core %} {{sub}} {% endfor %}">
              <div class="row conf-row">
                  <div class="col-xs-5 col-sm-6">
                      <a class="conf-title" href="{{ conf.link }}" target="_blank">{{conf.title}} {{conf.year}}</a>
                  </div>
                  <div class="col-xs-7 col-sm-6">
                    <span class="timer"></span>
                  </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="meta">
                    <span class="conf-date">{{conf.date}}.</span>
                    <span class="conf-place">
                      {% if conf.place == "Online" %}
                      <a href="#">{{conf.place}}</a>.
                      {% else %}
                      <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>.
                      {% endif %}
                    </span>
                  </div>
                  {% if conf.note %}
                  <div class="note">
                    {{conf.note}}
                  </div>
                  {% endif %}
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="deadline">
                    <div>Deadline:
                      <span class="deadline-time"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <span data-sub="{{conf.core}}" class="conf-sub"></span>
                  {% if conf.esp %} <span data-sub="{{conf.esp}}" class="conf-ggs"> GGS: {{conf.esp}} </span>{% endif %}
                </div>
              </div>
              <hr>
            </div>
            {% endfor %}
        </div>
        <footer>

        </footer>
        <br><br>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {
        var deadlineByConf = {};
        // Make sure this is >= no. of subs
        // Currently not used
        var colors = ['#341f97', '#ee5253', '#2e86de',
                      '#ff9f43', '#10ac84', '#222f3e']

        // Borrowed from https://github.com/moment/moment-timezone/issues/167
        // Adds support for time zones 'UTC-12'..'UTC+12'
        function addUtcTimeZones() {
          // Moment.js uses the IANA timezone database, which supports generic time zones like 'Etc/GMT+1'.
          // However, the signs for these time zones are inverted compared to ISO 8601.
          // For more details, see https://github.com/moment/moment-timezone/issues/167
          for (let offset = -12; offset <= 12; offset++) {
            const posixSign = offset <= 0 ? '+' : '-';
            const isoSign = offset >= 0 ? '+' : '-';
            const link = `Etc/GMT${posixSign}${Math.abs(offset)}|UTC${isoSign}${Math.abs(offset)}`;
            moment.tz.link(link);
          }
        }
        addUtcTimeZones();

        try {
          var local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          $('.local-timezone').text(local_timezone.toString());
        }
        catch(err) {
          $('.local-timezone-hide').hide();
        }


        // Get all subs
        var conf_type_data = {{ site.data.types | jsonify }};
        var all_subs = [];
        var sub2name = {};
        for (var i = 0; i < conf_type_data.length; i++) {
          all_subs[i] = conf_type_data[i]['sub'];
          sub2name[conf_type_data[i]['sub']] = conf_type_data[i]['name'];
        }

        {% for conf in site.data.conferences %}
        {% assign conf_id = conf.title | append: conf.year | slugify %}
        $('#{{ conf_id }} .conf-sub').html("Core: " + sub2name["{{conf.core}}"]);

        {% if conf.deadline == "TBA" %}
          $('#{{conf_id}} .timer').html("TBA");
          $('#{{conf_id}} .deadline-time').html("TBA");
          deadlineByConf["{{ conf_id }}"] = moment();

        {% else %}
          var rawDeadlines = {{ conf.deadline | jsonify }} || [];
          if (rawDeadlines.constructor !== Array) {
            rawDeadlines = [rawDeadlines];
          }
          var parsedDeadlines = [];
          while (rawDeadlines.length > 0) {
            var rawDeadline = rawDeadlines.pop();
            // check if date is template
            if (rawDeadline.indexOf('%m') >= 0) {
              for (var m = 1; m <= 12; m++) {
                rawDeadlines.push(rawDeadline.replace('%m', m < 10 ? '0' + m : m));
              }
            } else if (rawDeadline.indexOf('%y') >= 0) {
              year = parseInt(moment().year());
              rawDeadlines.push(rawDeadline.replace('%y', year));
              rawDeadlines.push(rawDeadline.replace('%y', year + 1));

            } else {
              // adjust date according to deadline timezone
              {% if conf.timezone %}
              var deadline = moment.tz(rawDeadline, "{{ conf.timezone }}");
              {% else %}
              var deadline = moment.tz(rawDeadline, "Etc/GMT+12"); // Anywhere on Earth
              {% endif %}

              // post-process date
              if (deadline.minutes() === 0) {
                deadline.subtract(1, 'seconds');
              }
              if (deadline.minutes() === 59) {
                deadline.seconds(59);
              }
              parsedDeadlines.push(deadline);
            }
          }

          // check which deadline is closest
          var confDeadline = parsedDeadlines[0];
          var today = moment();
          for (var i = 1; i < parsedDeadlines.length; i++) {
            deadlineCandidate = parsedDeadlines[i];
              if ((today.diff(deadlineCandidate) < 0 && today.diff(deadlineCandidate) > today.diff(confDeadline))) {
              confDeadline = deadlineCandidate;
            }
          }

          // render countdown timer
          if (confDeadline) {
            function make_update_countdown_fn(confDeadline) {
              return function(event) {
                diff = moment() - confDeadline
                if (diff <= 0) {
                   $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
                } else {
                  $(this).html(confDeadline.fromNow());
                }
              }
            }
            $('#{{ conf_id }} .timer').countdown(confDeadline.toDate(), make_update_countdown_fn(confDeadline));
            // check if date has passed, add 'past' class to it
            if (moment() - confDeadline > 0) {
              $('#{{ conf_id }}').addClass('past');
            }
            $('#{{ conf_id }} .deadline-time').html(confDeadline.local().format('D MMM YYYY, h:mm:ss a'));
            deadlineByConf["{{ conf_id }}"] = confDeadline;
          }

        {% endif %}
        {% endfor %}

        // Get subjects from URL
        var url = new URL(window.location);
        var subs = url.searchParams.get('sub');
        if (subs == undefined) {
           subs = store.get('{{ site.domain }}');
        } else {
           subs = subs.toUpperCase().split(',');
        }

        // Get subjects from browser cache
        if (subs === undefined) {
          subs = all_subs;
          for (var i = 0; i < subs.length; i++) {
            $('#' + subs[i] + '-checkbox').prop('checked', true);
          }
        } else {
          for (var i = 0; i < subs.length; i++) {
            $('#' + subs[i] + '-checkbox').prop('checked', true);
          }
        }

      // Reorder list
      confs = $('.conf');
      confs.detach().sort(function(a, b) {
        var today = moment();
        var a = deadlineByConf[a.id];
        var b = deadlineByConf[b.id];
        var diff1 = today.diff(a)
        var diff2 = today.diff(b)
        if (a == null && b == null) {
          return 0;
        }
        if (a == null && diff2 > 0) {
          return -1;
        }
        if (a == null && diff2 < 0) {
          return +1;
        }
        if (b == null && diff1 > 0) {
          return +1;
        }
        if (b == null && diff1 < 0) {
          return -1;
        }
        if (diff1 < 0 && diff2 > 0) {
          return -1;
        }
        if (diff1 > 0 && diff2 < 0) {
          return +1;
        }
        if (diff1 < 0 && diff2 < 0) {
          return -1 ? diff1 < diff2 : +1;
        }
        if (diff1 > 0 && diff2 > 0) {
          return -1 ? a < b : +1;
        }
      });
      $('#conf-container').append(confs);

      // Set checkboxes
      var conf_type_data = {{ site.data.types | jsonify }};
      var all_subs = [];
      var toggle_status = {};
      for (var i = 0; i < conf_type_data.length; i++) {
        all_subs[i] = conf_type_data[i]['sub'];
        toggle_status[all_subs[i]] = false;
      }
      var subs = store.get('{{ site.domain }}');
      if (subs === undefined) {
        subs = all_subs;
      }
      for (var i = 0; i < subs.length; i++) {
        $('#' + subs[i] + '-checkbox').prop('checked', true);
        toggle_status[subs[i]] = true;
      }
      store.set('{{ site.domain }}', subs);

      function update_conf_list() {
        confs.each(function(i, conf) {
          var conf = $(conf);
          var show = false;
          for (var i = 0; i < all_subs.length; i++) {
            if(conf.hasClass(all_subs[i])) {
              show = show | toggle_status[all_subs[i]];
            }
          }
          if (show) {
            conf.show();
          } else {
            conf.hide()
          }
        });
      }
      update_conf_list();

      // Event handler on checkbox change
      $('form :checkbox').change(function(e) {
        var checked = $(this).is(':checked');
        var sub = $(this).prop('id').slice(0, -9);
        toggle_status[sub] = checked;

        if (checked == true) {
          if (subs.indexOf(sub) < 0)
            subs.push(sub);
        }
        else {
          var idx = subs.indexOf(sub);
          if (idx >= 0)
            subs.splice(idx, 1);
        }
        store.set('{{ site.domain }}', subs);

        update_conf_list();
      });

    });

    </script>
  </body>
</html>
